@import "breakpoint";
@import "compass/css3";

@import "breakpoints";
@import "colors";
@import "mixins/mixins-global";
@import "resets";
@import "typography";
@import "variables";

.centered-container
{
    padding: 1em;
    margin: 0 auto;
    max-width: $desktop;
}

