// margins
$margin-default: 1em;

// borders
$border-primary: 1px solid #ccc;

// box shadows
$box-shadow-primary: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$box-shadow-secondary: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.12);

// transitions
$trans-dur-fast: .15s;
$trans-dur-primary: .5s;

// sidebars
$sidebar-padding:       2em;
$sidebar-width:         6em;

// background images
$fallback-color-bkgd:   #3B444D;