@import "breakpoint";
@import "compass/css3";

@import "normalize";
@import "resets";

@import "variables";
@import "breakpoints";
@import "typography";

html, body
{
    height: 100%;
}

.site
{
    display: flex;
    flex-direction: column;
}

.site-content
{
    flex: 1 0 auto; /* forces footer to bottom */
    width: 100%;
}