@import "breakpoint";

@include breakpoint-set('to ems', true);

$mobile-hor:    480px;
$mobile-vert:   600px;
$tablet-vert:   768px;
$tablet-hor:    1024px;
$desktop:       1200px;

@import "../../site/base/breakpoints";