@import "breakpoint";

@include breakpoint-set('to ems', true);

// device-specific
$mobile-hor:    480px;
$mobile-vert:   600px;
$tablet-vert:   768px;
$tablet-hor:    992px;
$desktop:       1140px;
$desktop-lg:    1450px;