$green-01:                      #00c38e;
$red-01:                        #e6504d;
$blue-01:                       #1f98c8;
$grey-01:                       #3B444D;
$grey-02:                       #cccccc;
$grey-03:                       #f2f2f2;
$grey-04:                       #eeeeee;

// TYPOGRAPHY
$color-text-primary:            $grey-01;

// BUTTONS
$color-btn-primary:             $green-01;

// LINKS
$color-link-primary:            $grey-01;

// BORDERS
$color-border-primary:          $grey-02;

// FORMS
$color-form-label:              $grey-01;
$color-form-success:            $green-01;
$color-form-error:              $red-01;
$color-form-focus:              $blue-01;
$color-form-filled:             $grey-01;
$color-form-placeholder:        $grey-02;
$color-dropdown-bkgd-hover:     $green-01;
$color-dropdown-item:           white;

// IMG-CONTAINERS
$color-bkgd-img-fallback:       $grey-01;

// BKGD
$color-bkgd-primary:            $grey-03;