.btn-container
{
    width: 100%;
    text-align: center;
}

.btn
{
    box-shadow: $box-shadow-primary;
    @include transition(all .25s ease-in-out);
    display: inline-block;
    padding: .5em 1em;
    border-radius: 4px;
    margin-bottom: 1em;

    + .btn
    {
        margin-left: 1em;
    }

    &.btn-primary
    {
        color: $btn-primary-color;
        background-color: $btn-primary-bkgd;
        border: 1px solid $btn-primary-border;

        &:hover
        {
            background-color: lighten($btn-primary-bkgd, 3%);
            border-color: lighten($btn-primary-border, 3%);
        }
    }

    &.btn-secondary
    {
        color: $btn-secondary-color;
        background-color: $btn-secondary-bkgd;
        border: 1px solid $btn-secondary-border;

        &:hover
        {
            background-color: lighten($btn-secondary-bkgd, 3%);
            border-color: lighten($btn-secondary-border, 3%);
        }
    }

    &.btn-block
    {
        width: 100%;
        display: block;
    }

    .icon-container
    {
        display: inline-block;
        position: relative;
        text-align: center;
        vertical-align: middle;
        margin-right: .5em;
        line-height: 1em;

        i
        {
            line-height: 1.33em;
        }
    }

    .btn-text
    {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: $letter-spacing-secondary;
        line-height: 2em;
    }

    &.btn-sm
    {
        padding: .25em 1.75em;
        font-size: .6em;
    }

    &.btn-lg
    {
        padding: 1em 1.5em;
        font-size: 1.1em;
    }
}

@import "../../site/components/buttons";