.centered-container
{
    padding:4em 1em;
    margin: 0 auto;
    position: relative;
    max-width: $desktop;

    &.fluid
    {
        max-width: 100%;
    }
}

.img-container
{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;

    img
    {
        max-width: 100%;
        max-height: 100%;
    }
}

.bkgd-img-container 
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.inline-icon-wrapper 
{
    > *
    {
        display: table-cell;
        vertical-align: middle;
    }

    i
    {
        padding-right: .1em;
    }
}

.full-height-container
{
    width: 100%;
    position: relative;
    @include flexbox-display;
    @include flexbox-vertical-center;

    .container
    {
        width: 100%;
        padding: 6em 1em;
        margin: 0 auto;
        position: relative;

        .text-wrapper 
        {
            text-align: center;
            max-width: 50em;
            margin: 0 auto;
            color: white;

            h1
            {
                margin-bottom: .5em;
            }
        }
    }

    &.bkgd-blank
    {
        h1, h2, h3, p
        {
            color: $color-text-primary;
        }
    }

    &.bkgd-grey
    {
        background-color: $grey-01;
    }

    @include breakpoint($tablet-hor)
    {
        min-height: 100vh;
    }
}

@import "../../site/components/containers";