.cards
{
    @include flexbox-display;
    @include flexbox-flow(row wrap);
    @include flexbox-justify-left;
    margin-top: -1px;
    margin-left: -1px;

    .card
    {
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
        outline: 1px solid $card-primary-border;
        margin-top: 1px;
        margin-left: 1px;
        display: flex;
        @include flex-direction(column);
        vertical-align: top;
        color: $card-primary-color;
        position: relative;
        background-color: $card-primary-bkgd;
        z-index: 0;

        @include breakpoint($tablet-vert)
        {
            width: 33%;
        }

        .wrapper
        {
            padding: 2em;
        }

        .img-container
        {
            height: 7em;
            position: relative;
            margin: initial;
            margin-bottom: 2em;

            img
            {
                @include absolute-center;
                margin: auto auto 0;
            }
        }

        .name
        {
            text-transform: capitalize;
            margin-bottom: 1em;
            font-size: 1.3em;
        }

        .description
        {
            text-align: left;
            margin-bottom: 2em;
            font-size: .9em;
        }

        .footer
        {
            margin-top: auto;
        }
    }
}

@import "../../site/components/elements";