extends _layouts/main

append head
    link(rel="stylesheet" href="/css/style-guide.css")

block header
    include _partials/header

block content
    div.centered-container
        section.style-elements-section
            h3.title Typography
            ul.style-elements-list
                li.element
                    span.name h1
                    div.content
                        h1 This is a headline
                li.element
                    span.name h2
                    div.content
                        h2 This is another headline
                li.element
                    span.name h3
                    div.content
                        h3 This is another headline
                li.element
                    span.name body
                    div.content
                        p Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and the stars had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the dark gulf below, I could see a ruddy light streaming through a rift in the clouds.
                li.element
                    span.name a (link)
                    div.content
                        a(href='#') This is a link
        section.style-elements-section
            h3.title Form Elements
            ul.style-elements-list
                li.element
                    span.name Dropdown
                    div.content
                        div.form-group
                            label(for="payment-method") Payment Method
                            select#payment-method.dropdown(jq-drop-down)
                                option(class="label") Select Payment
                                option(value="test") MasterCard
                                option(value="this") Visa
                                option(value="thaz") American Express
                                option(value="thaz") Paypal
                        div.inline-icon-wrapper.info-text
                            i.ic-info
                            span Dropdowns are set up using the plugin #[a(href='http://www.jqueryscript.net/demo/Easy-jQuery-Based-Drop-Down-Builder-EasyDropDown/' target="_blank") EasyDropDown ] plugin.
        section.style-elements-section
            h3.title Buttons
            ul.style-elements-list
                li.element
                    span.name Button, primary
                    div.content
                        a.btn.btn-primary
                            span.btn-text Test
                li.element
                    span.name Button, primary w/ icon
                    div.content
                        a.btn.btn-primary
                            div.icon-container
                                i.material-icons person
                            span.btn-text Test
                li.element
                    span.name Button, secondary
                    div.content
                        a.btn.btn-secondary
                            span.btn-text Test
block footer
    p This is the footer